doctype html
html(lang='en')
  head
    title Authentication
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    div.header-container
      h2 Authentication Nation
    div.main-container
      div.blurb
        p This entire website is about logging in and logging out. This is for people who like to click buttons but hate actual content. Welcome.
      
      block content
        
    div.footer
      p If this website made your life better, tell a friend. 
